body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 1em;
    margin-bottom: 4em;
}

i {
    margin-top: .25em;
}

.go-button-container {
    margin-top: 2em;
    text-align: center;
}

.submit-payment-container{
    text-align: center;
}

.submit-payment-text{
    margin-bottom: 2em;
}
