/* All Screens */

body {
    margin: 0;
    padding: 0;
}

.footer {
    bottom: 0;
    position: fixed;
    margin-top: 4em;
    width: 100%;
    text-align: left;
    padding: 1em;
}

.footer a{
    text-decoration: none;
    color: #3c3c3c;    
}

.footer-right {
    text-align: right;
}

.contact-method-choice-container{
    border: 1px solid #a6a6a6;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.contact-method-choice-container:hover{
    cursor: pointer;
    border: 1px solid black;
}

.go-button {
    background-color: #005a9e;
    color:white;
}

.go-button:hover {
    background-color: #004578;
    color:white;
}

.submit-payment-container{
    text-align: center;
}

.accept-icon{
    font-size: 100px;
    margin: .25em;
    font-weight: 900;
}

/* Desktop */

.header {
    padding: 1em;
    margin-bottom: 4em;
}

.header-text {
    margin-top: .25em;
}

.go-button-container {
    margin-top: 2em;
    text-align: center;
}

.form-field {
    margin-bottom: 2em;
}

.submit-payment-header{
    margin-bottom: 2em;
}

.submit-payment-text{
    margin-top: 2em;
}

/* Mobile */

@media only screen and (max-width: 479px) { 
    .header {
        padding: 1em;
        padding-bottom: .5em;
        margin-bottom: 1.5em;
    }
    .header-text {
        margin-top: 0em;
        text-align: right;
    }
    .form-field {
        margin-bottom: 1em;
    }
    .go-button-container {
        margin-top: 1em;
        text-align: center;
    }
    .submit-payment-header{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .submit-payment-text{
        margin-top: 1em;
    }
    .footer a{
        text-decoration: none;
        color: rgb(102,102,102);    
    }
}